import os

# --- SOCIAL MEDIA CREDENTIALS ---

# YouTube (Google API)
YOUTUBE_CLIENT_SECRET_FILE="client_secret.json"

# X (Twitter) - API v2
X_API_KEY=""
X_API_SECRET=""
X_ACCESS_TOKEN=""
X_ACCESS_TOKEN_SECRET=""
X_BEARER_TOKEN=""

# Instagram
INSTA_USERNAME=""
INSTA_PASSWORD=""

# LinkedIn (Access Token)
LINKEDIN_ACCESS_TOKEN=""
